<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="header_top">
        <div class="wrap">
            <div class="logo">
                <a href="#">
                    <img src="~/images/AIUHGLOGO.png" alt="" /></a>
            </div>
            <div class="loginMenu">
                <p>Hello,  @AFH.Barcaldine.Common.LoginVariable.UserName</p>
                <ul>
                    <li>@Html.ActionLink("Change Password", "UserChangePassword", "UserAdmin") |</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="wrap">
        <div class="Content">
            @*<div class="Menu">
                <ul id="Menu">
                    <li class="ui-widget-header">OrderList</li>
                    <li>@Html.ActionLink("Order List", "OrderList", "Order")</li>
                    <li>@Html.ActionLink("Fault Order List", "FaultOrderList", "Order")</li>
                    <li class="ui-widget-header">Room Setting</li>
                    <li>@Html.ActionLink("Room Basic Rate", "RoomRateList", "RoomRate")</li>
                    <li>@Html.ActionLink("Room Rate Policy", "RatePolicyList", "RoomRate")</li>
                    <li>@Html.ActionLink("Room Status", "RoomStatus", "RoomStatus")</li>
                    
                    <li class="ui-widget-header">Wine Setting</li>
                    <li>@Html.ActionLink("Wine Category", "WineCategoryList", "Wine")</li>
                    <li>@Html.ActionLink("Wine Product", "ProductList", "Wine")</li>
                    <li>@Html.ActionLink("Shipping", "ShippingList", "Wine")</li>
                </ul>
            </div>*@
            

             
            @{Html.RenderAction("Menu", "Menu");}
            <div class="menuclear"></div>
            <div class="MainContent">@RenderBody()</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="footer_nav">
            </div>
            <div class="copy_right">
                <p>@*@Models.Common.GetLangString("CopyRight")*@</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>
